@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Index";
}
<h2>project </h2>
<ul>
    <li>Project aanmaken</li>
    <li>Teammembers aanmaken</li>
    <li>Temamember toevoegen</li>
</ul>
<a href="/Project/Create">Create</a>